parameters:
    level: 7
    paths:
        - src
        - examples
    ignoreErrors:
        - '#Method Util::getSee\(\) has no return type specified.#'
        - '#Method Util::getSeeApi\(\) has no return type specified.#'